.vscode/*

# Local History for Visual Studio Code
.history/

# Built Visual Studio Code Extensions
*.vsix

#ignore our settings
subgen.env

models/
watch/

__pycache__/

*.log
*.pyc
*.pyo
*.pyd
*.pyw
*.pyz
*.pywz

